{{ define "main" }}
<h1>Hi, I'm Ashe (@surfacedfox)!</h1>
<img src="header.webp" alt="" class="img-responsive">
<p>I'm a game developer from India! I also solve IRL problems using game tech at <a href="https://axomem.io">AxoMem</a>. I love games, and I love making them!</p>
<p>My skills and experience are the glue which hold projects together. I've been working in the industry for about 4 years now, and my deep expertise primarily lies in 
programming. However, my appreciation for the craft of making games has led me to develop skills as a broad-range generalist to *really* understand the roles my
teammates fulfil, and to figure out how I can collaborate with them better. I've also participated in game jams before, which has helped me diversify my skillset 
to include shader development, kitbashing, and working within art pipeline constraints and with audio middleware. 
This T-shaped skillset is what I bring to the teams I work in and with, and am really proud of. :)</p>
<p>
This site exists as an archive for projects I have worked on, and am working on. It also hosts some of my opinions which I think are 
worth sharing, and to archive some game design or development quick-tips and minor learnings which I might want to refer back to, down the line.</p>
<h1>Project Gallery</h1>
<h2><i>Click on the thumbnails for a mo</i></h2>
<div class="image-grid">
    {{ with .Site.GetPage "/projects" }}
        {{ range first 4 (sort .Pages "Date" "desc")}}
            <a href="{{ .Permalink }}" title="{{ .Title }}">
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ with $image }}
                <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" class="img-responsive" caption="{{ .Title }}" style="border:1px solid rgb(64, 64, 64)">
            {{end}}
            </a>
        {{ end }}
    {{ end }}
</div>
<h1>Latest Posts</h1>
<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .Date | time.Format ":date_medium" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

{{ end }}